html.sr .load-hidden {
  visibility: hidden;
}

.hero-bg-parent {
  height: 100vh;
}

.hero-bg {
  height: 100vh;
  background-image: url(/images/A\ \(9\).jpg);
  background-repeat: no-repeat;
  background-size: 120vw 95vh;
  background-position: -50px 0px;
  transform: scale(0.9);
}

.hero-bg-2 {
  height: 100vh;
  background-image: url(/images/A\ \(13\).jpg);
  background-repeat: no-repeat;
  background-size: 120vw 95vh;
  background-position: -80px 0px;
  transform: scale(1);

}

.hero-bg-3 {
  height: 100vh;
  background-image: url(/images/A\ \(6\).jpg);
  background-repeat: no-repeat;
  background-size: 120vw 95vh;
  background-position: -80px 0px;
  transform: scale(1);

}

.hero-bg-4 {
  height: 100vh;
  background-image: url(/images/2.jpg);
  background-repeat: no-repeat;
  background-size: 120vw 95vh;
  background-position: 0px 0px;
  transform: scale(1);

}

.hero-bg-5 {
  height: 100vh;
  background-image: url(/images/3.jpg);
  background-repeat: no-repeat;
  background-size: 120vw 95vh;
  background-position: -80px 0px;
  transform: scale(1);

}

.hero-bg-spc {
  height: 100vh;
  background-image: url(/images/4.jpg);
  background-repeat: no-repeat;
  background-size: 120vw 95vh;
  background-position: -80px 0px;
  transform: scale(1);

}

.hero-bg-6 {
  height: 100vh;
  background-image: url(/images/5.jpg);
  background-repeat: no-repeat;
  background-size: 120vw 95vh;
  background-position: -80px 0px;
  transform: scale(1);

}

.hero-bg-7 {
  height: 100vh;
  background-image: url(/images/6.jpg);
  background-repeat: no-repeat;
  background-size: 120vw 95vh;
  background-position: 0px 0px;
  transform: scale(1);

}

.hero-bg-8 {
  height: 100vh;
  background-image: url(/images/7.jpg);
  background-repeat: no-repeat;
  background-size: 120vw 95vh;
  background-position: -80px 0px;
  transform: scale(1);

}

.hero-bg-9 {
  height: 100vh;
  background-image: url(/images/8.jpg);
  background-repeat: no-repeat;
  background-size: 120vw 95vh;
  background-position: -80px 0px;
  transform: scale(1);

}

body {
  background-image: url(/images/A\ \(6\).jpg);
  background-repeat: no-repeat;
  background-size: 130vw 100vh;
  background-position: -120px 0px;
}

.hero-bg-overlay {
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.795);
  position: absolute;
  top: 0;
  z-index: 5;
  left: 0;
  width: 100%;
}

.ml11,
.ml12 {
  margin: 12px 0px;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
  text-shadow: 1px 2px 5px black;
}

.ml12 .text-wrapper2 {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml12 .letter2 {
  display: inline-block;
  line-height: 1em;
  text-shadow: 1px 2px 5px black;
}

#state {
  width: 100%;
  background-color: transparent;
  outline: 1px solid grey;
  border-radius: 4px;
  padding: 12px 8px;
}

#state:focus {
  outline: 1px solid rgb(19, 82, 55)
}

#title {
  width: 100%;
  background-color: transparent;
  outline: 1px solid grey;
  border-radius: 4px;
  padding: 2px 8px;
}

#title:focus {
  outline: 1px solid rgb(19, 82, 55)
}







@media only screen and (min-width: 600px) {
  .hero-bg {
    background-size: 30vw 100vh;
    background-position: -10px 0px;
    background-color: rgb(80, 79, 79);
    background-blend-mode: overlay;
  }


  body {
    background-image: url(/images/A\ \(6\).jpg);
    background-repeat: no-repeat;
    background-size: 30vw 100vh;
    background-position: 35vw 0px;
    min-width: 100%;
    max-width: 100%;
  }

  #second, #third, #fourth, #fifth {
    padding-left: 40%;
    padding-right: 40%;
  }

  #sixth {
    padding-left: 37%;
    padding-right: 37%;
  }
}